<!DOCTYPE html>
<html ng-app="synthApp">
<head>
	<title>PADSynth</title>
	<link rel="stylesheet" type="text/css" href="synth.css">
</head>
<body ng-controller="MidiCtrl as midiCtrl">
<div class="container" ng-controller="PresetCtrl as presetCtrl">
	<div class="top-panel">
		<div class="logo padsynth-logo"></div>
		<div class="display">
			<div class="lcd-text" ng-bind="presetCtrl.paramDisplayText"></div>
			<div id="analysis" class="analysis"></div>
			<select ng-model="presetCtrl.selectedIndex"
					ng-change="presetCtrl.onChange($event)"
					ng-options="presetCtrl.presets.indexOf(preset) as preset.name for preset in presetCtrl.presets"
					class="lcd"></select>
		</div>
		<div class="buttons-row-1">
			<button class="button primary" ng-click="midiCtrl.onVizClick()">Viz</button>
			<button class="button secondary" ng-click="midiCtrl.onDemoClick(0)">Demo 1</button>
			<button class="button secondary" ng-click="midiCtrl.onDemoClick(1)">Demo 2</button>
		</div>
		<div class="buttons-row-2">
			MIDI Device: <select class="button" id="midiIn"></select>
		</div>
	</div>
	<div class="rows">
		<div class="row">
			<div class="param">
				<knob step="0.001" min="0.001" max="4" to-number label="Attack"
					  ng-model="presetCtrl.params.env.attack"></knob>
			</div>
			<div class="param">
				<knob step="0.01" min="0.001" max="4" to-number label="Decay"
					  ng-model="presetCtrl.params.env.decay"></knob>
			</div>
			<div class="param">
				<knob step="0.01" min="0" max="1" to-number label="Sustain"
					  ng-model="presetCtrl.params.env.sustain"></knob>
			</div>
			<div class="param">
				<knob step="0.01" min="0.001" max="6" to-number label="Release"
					  ng-model="presetCtrl.params.env.release"></knob>
			</div>
			<!--<div class="param">-->
				<!--<knob step="1" min="1" max="100" to-number label="Num H"-->
					  <!--ng-model="presetCtrl.params.numHarmonics"></knob>-->
			<!--</div>-->
			<div class="param">
				<knob step="1" min="1" max="300" to-number label="Bandwidth"
					  ng-model="presetCtrl.params.bandwidth"></knob>
			</div>
			<div class="param">
				<knob step="0.05" min="-2" max="2" to-number label="BW Scaling"
					  ng-model="presetCtrl.params.bwScaling"></knob>
			</div>
			<div class="param">
				<knob step="0.01" min="0.1" max="2" to-number label="Ratio"
					  ng-model="presetCtrl.params.harmonicRatio"></knob>
			</div>
			<div class="param">
				<knob step="0.01" min="0" max="1" to-number label="H Scaling"
					  ng-model="presetCtrl.params.harmonicScaling"></knob>
			</div>
			<!--<div class="param">-->
				<!--<knob step="0.01" min="0" max="1" to-number label="HF Noise"-->
					  <!--ng-model="presetCtrl.params.harmonicFreqNoise"></knob>-->
			<!--</div>-->
			<!--<div class="param">-->
				<!--<knob step="0.01" min="0" max="1" to-number label="HA Noise"-->
					  <!--ng-model="presetCtrl.params.harmonicAmpNoise"></knob>-->
			<!--</div>-->
		</div>
		<div class="row">
			<div class="stepdraw">
				<canvas id="stepdraw" style="height: 150px; width: 600px;"></canvas>
			</div>
			<button class="button primary" ng-click="presetCtrl.loadProfile('saw')">Saw</button>
			<button class="button primary" ng-click="presetCtrl.loadProfile('square')">Square</button>
			<button class="button primary" ng-click="presetCtrl.loadProfile('ah')">Ahh</button>
			<button class="button primary" ng-click="presetCtrl.loadProfile('ee')">Ee</button>
			<button class="button primary" ng-click="presetCtrl.smoothProfile()">Smooth</button>
			<button class="button primary" ng-click="presetCtrl.clearProfile()">Clear</button>
		</div>
	</div>
	<div class="bottom-panel">
		<select class="button"
				ng-model="midiCtrl.midiFileIndex"
				ng-options="midiCtrl.midiFiles.indexOf(file) as file for file in midiCtrl.midiFiles"></select>
		<button class="button secondary" ng-click="midiCtrl.onMidiPlay()">Play</button>
		<button class="button secondary" ng-click="midiCtrl.onMidiStop()">Stop</button>
	</div>
</div>
<script src="bundle.js"></script>
</body>
</html>