/*
color-definitions {
    dkblack: #232529;
    black: #313036;
    dkred: #2f171a;
    red: #fa0606;
    brown: #937945;
    purple: #826896;
    pink: #e74b4b;
    green: #cfe14a;
    dkgreen: #c0cf35;
    teal: #00af83;
    gray: #cccccc;
    white: #ffffff;
}
*/
/*@import url('//fonts.googleapis.com/css?family=Raleway:400,800');*/

@font-face {
    font-family:'5x8 LCD';
    src: url('fonts/5x8_lcd_hd44780u_a02.eot') format('eot'),url('fonts/5x8_lcd_hd44780u_a02.woff') format('woff'),url('fonts/5x8_lcd_hd44780u_a02.ttf') format('truetype'),url('fonts/5x8_lcd_hd44780u_a02.svg#5x8-LCD-HD44780U-A02') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Digital 7';
    src: url('fonts/digital-7__mono_italic_.eot') format('eot'), url('fonts/digital-7__mono_italic_.woff') format('woff'), url('fonts/digital-7__mono_italic_.ttf') format('truetype'), url('fonts/digital-7__mono_italic_.svg#Digital-7MonoItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body { height: 100%; }

body {
    font-family: Raleway, Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #4a4950;
    color: #444;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex: 1;
    overflow: auto;
    align-items: center;
}

.container {
    background-color: #d0d4d6;
    background-image: url(images/plastic.png);
    border: 1px solid #aaa;
    border-radius: 20px;
    position: relative;
    width: 1140px;
    min-width: 1140px;
    margin: auto;
    overflow: hidden;
}

.display {
    position: absolute;
    width: 436px;
    height: 56px;
    top: 39px;
    left: 254px;
    background-color: #206af0;
    color: #b7e7f5;
    box-shadow: inset 0 3px 0 3px rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#stepdraw {
    border: 6px solid #204ac0;
    border-left-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 0;
}

.analysis {
    position: absolute;
    bottom: 8px;
    right: 9px;
    top: 13px;
    width: 256px;
}

#fftbox, #wavebox {
    position: absolute;
    image-rendering: pixelated;
}

.lcd-text {
    font-family: '5x8 LCD', serif;
    font-size: 16.27px;
    line-height: 16px;
    color: #b7e7f5;
    position: absolute;
    top: 8px;
    left: 5px;
}

select.lcd {
    font-family: '5x8 LCD', serif;
    font-size: 16.27px;
    line-height: 16px;
    border: 0;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: 0;
    width: 160px;
    color: #b7e7f5;
    position: absolute;
    bottom: 8px;
    left: 5px;
}

.algorithm-diagram {
    position: absolute;
    width: 80px;
    height: 520px;
    left: 20px;
}

.param-group {
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    position: relative;
}

.param-group:last-child {
    margin: 0;
}

.group-name {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}

.button {
    border: 0;
    border-radius: 3px;
    appearance: none;
    -moz-appearance: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10.5px;
    letter-spacing: 0.5px;
    padding: 0 5px 2px 5px;
    text-align: left;
    line-height: 20px;
    height: 20px;
    min-width: 60px;
    background-color: gray;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    outline: 0;
    margin-right: 4px;
    box-shadow: inset 0px -1px 1px rgba(0,0,0,0.25);
}

select.button {
    vertical-align: middle;
    text-transform: none;
    padding-right: 30px;
}

.primary {
    background-color: #ff8000;
}
.primary:active {
    background-color: #d07000;
}

.secondary {
    background-color: #777;
}
.secondary:active {
    background-color: #555;
}

.param-group-heading {
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: -35px;
    left: 5px;
    text-transform: uppercase;
}

.param-group-heading.below {
    top: 65px;
}

.heading-algorithm { left: -80px; }

.logo {
    position: absolute;
    top: 40px;
    left: 30px;
    width: 153px;
    height: 47px;
    background-size: cover;
}

.padsynth-logo {
    background-image: url(images/padsynth-logo.png);
    height: 54px;
    width: 170px;
    background-size: contain;
}

.buttons-row-1 {
    position: absolute;
    top: 39px;
    left: 710px;
    font-size: 0;
}

.buttons-row-2 {
    position: absolute;
    bottom: 20px;
    left: 710px;
}

.top-panel {
    display: block;
    height: 120px;
    position: relative;
    background-color: rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.55);
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.bottom-panel {
    padding: 15px 15px 15px 110px;
    display: block;
    height: 120px;
    background-color: rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.55);
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.row {
    display: block; /* fix for spaces between inline children */
    padding: 15px 15px 15px 110px;
    xfont-size: 0;
}

.rows {
    display: block;
    top: 160px;
    padding-top: 3px;
}

.row:nth-child(odd) {
    background-color: rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.55);
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.param {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 50px;
    vertical-align: top;
    text-align: center;
}

.param-group-sliders {
    padding-left: 5px;
}

.param.wide {
    width: 66px;
}

.param.extra-wide {
    width: 134px;
}

.param.narrow {
    width: 29px;
}

.frequency-display {
    display: inline-block;
    width: 60px;
    height: 43px;
    line-height: 20px;
    box-sizing: border-box;
    text-align: center;
    padding: 4px;
    background-image: url(images/frequency-display.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    font-family: 'Digital 7', monospace;
    letter-spacing: 1px;
    font-size: 20px;
    color: #fa0606;
}
@-moz-document url-prefix() {
    .frequency-display {
        line-height: 12px;
    }
}

.param-label {
    position: absolute;
    top: 49px;
    text-align: center;
    width: 100%;
    font-size: 8px;
    font-weight: bold;
    line-height: 9px;
    text-transform: uppercase;
    padding: 0 3px;
    box-sizing: border-box;
}

.knob {
    margin: 0 auto;
    height: 40px;
    width: 40px;
    background-image: url('images/knob-background.svg');
    border-radius: 50px;
    outline: 0;
}

.knob:focus {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.15);
}

.knob:active {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.2);
}

.knob-foreground {
    height: 40px;
    width: 40px;
    position: absolute;
    background-image: url('images/knob-foreground.svg');
}

.slider {
    height: 50px;
    width: 18px;
    background-image: url('images/dx7-slider-rail.svg');
    background-position: 0 0;
    overflow: hidden;
    position: relative;
}

.slider:focus {
    outline: 2px solid rgba(255,255,255,0.15);
}

.slider:active {
    outline: 2px solid rgba(255,255,255,0.2);
}

.param:last-child .slider {
    width: 18px;
}

.slider-foreground {
    height: 13px;
    width: 18px;
    background-image: url('images/dx7-slider-foreground.svg');
    background-position: 0 0;
    position: relative;
    top: 0;
}

.slider-meter {
    height: 50px;
    width: 10px;
    background-image: url('images/dx7-slider-meter.svg');
    background-position: 0 0;
    position: absolute;
    top: 0;
    left: 18px;
}

.stepdraw {
    margin: 20px auto;
}